.nav {
	position: absolute;
	top: 0;
	width: 100%;
	padding-top: 12px;
	text-align: right;
	font-size: 13px;
	}

li {
	display: inline-block;
	margin: 9px;
}

a {
	color: rgba(0, 0, 0, 0.85);
	text-decoration: none;
	font-family: arial, sans-serif;
	position: relative;
	bottom: 4px;
}

.main {
	position: absolute;
	top: 21%;
	width: 100%;
}

img.logo {
	display: block;
	margin: 0 auto;
}

#search-field {
	display: block;
	margin: 20px auto 0 auto;
	width: 525px;
	height: 35px;
	background-color: white;
	background-image: url(images/search-microphone.png);
	background-repeat: no-repeat;
	background-position: 96%;
	background-size: 17px 22px;
	border: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

button {
	margin-right: 5px;
	padding: 10px 15px;
	border:  none;
  background-color: rgba(148, 148, 148, .1);
  color: rgba(0, 0, 0, .5);
  font-weight: bold;
}

.buttons {
	text-align: center;
	margin-top: 25px;
}

.footer-div {
	width: 100%;
	position: absolute;
	bottom: 0;
	font-size: 12px;
	padding: 7px 15px 15px 20px;
	background-color: rgba(0, 0, 0, 0.05);
}

.l-footer, .r-footer {
	display: inline-block;
}

.l-footer {
	float: left;
}

.r-footer {
	float: right;
}

.footer {
	color: rgba(0, 0, 0, 0.7);
}